*,
html {
  margin: 0;
  padding: 0;
}
body {
  direction: rtl;
  padding: 100px;
}

#anim {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  animation: mymove 3s infinite;
  transition: all 1s;
  overflow: hidden;
}

#text {
  margin-right: -120%;
  transition: all 1s;
}

/* #atag:hover #anim {
  background-color: #ff0000;
  width: 300px;
} */

#atag:hover #anim #text {
  margin-right: 0;
}

@keyframes mymove {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0;
  }
}
